{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
  <h1>Home</h1>

<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.</p>


<button type="submit" id= post class="btn button">Post</button>
	
		<div class="post-box">			
			<img src= "George Washington.jpeg" alt= "A portrait of George Washington"  >
			<p> George Washington was the first president of the U.S.A. 
			His presidency established a strong federal government, created a national bank, and set a policy of neutrality in foreign affairs. 
			He voluntarily stepped down after two terms, setting a precedent for peaceful transfer of power. </p>			
			<p class= "correct"> A. George Washington set up the President's Cabinet, a group comprising of the heads of executive departemnets </p>
			<p class= "wrong"> B. George Washington cut down his father's cherry tree at 6 years old </p>
			<p class= "wrong"> C. George Washington was King George III's brother </p>	
		</div>

{% endblock %}
